// Note: I've just begun to use sass for the colours, I'm sure there's more
//       refactoring that could happen when I get chance.


// Define default grey colour scheme, unless already defined.
$doc-bg: #333333 !default;
$section-bg: #444444 !default;
$subsection-bg: #555555 !default;
$menu-bg: #555555 !default;
$menu-fg: #eeeeee !default;
$menu-dim-fg: #dddddd !default;
$link-fg: #bbbbbb !default;
$highlight-fg: #cccccc !default;
$body-fg: #eeeeee !default;
$body-em: #ffffff !default;
$selection-bg: #666666 !default;
$menu-selection-bg: #666666 !default;
// Define main fonts, these may well already be defined.
$body-font: sans-serif !default;
$body-weight: normal !default;
$body-bold-weight: bold !default;
$heading-font: sans-serif !default;
$heading-weight: normal !default;
$monospace-font: monospace !default;
$monospace-weight: normal !default;
// Define backups, these are unlikely to be defined but may be.
$backup-font: sans-serif !default;
$backup-monospace-font: monospace !default;

// Default to having text shadow
$shadow: true !default;

@mixin font-family-list($main, $backup) {
  @if $main == $backup {
    font-family: $main;
  } @else {
    font-family: $main, $backup;
  }
}

::selection {
  background: $selection-bg;
}

div.related ::selection {
  background: $menu-selection-bg;
}

body {
  @include font-family-list($body-font, $backup-font);
  font-weight: $body-weight;
  background-color: $doc-bg;
  padding: 0;
  margin: 0;
  color: $body-fg;
  @if $shadow {
    text-shadow: 0 1px 1px black;
  } @else {
    text-shadow: none;
  }
  font-size: 1.1em;
  line-height: 1.5;
}

.sitemenu-container {
  positive: relative;
  display: inline-block;
}

.sitemenu-button {
  background-color: $menu-bg;
  color: $menu-dim-fg;
  padding: 1px 12px;
  margin: 1px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.sitemenu-content {
  display: none;
  padding: 1em;
  position: absolute;
  background-color: $menu-bg;
  color: $menu-dim-fg;
  z-index: 1;
  right: 10px;
}

.sitemenu-content a {
  display: block;
  padding: 0.2em 0.5em;
  color: $menu-dim-fg;
}

.show {
  display: block;
}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0.2em 0.2em 0.2em;
  font-weight: $body-bold-weight;
  line-height: 1.2;
}

header {
  margin: 0;
  padding: 0;
}

nav {
  margin: 1em 10em 0 0;
  padding: 0;
  text-align: center;
  color: $body-em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

nav li {
  display: inline;
  margin: 0 1em;
  padding: 1em 0.5em;
  padding: 0.5em;
  background-color: $section-bg;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

nav a {
  display: inline-block;
  color: $highlight-fg;
}

nav li.active {
  background-color: $highlight-fg;
  box-shadow: none;
}

nav li.active a {
  color: $section-bg;
}

div.document {
  max-width: max-content;
  margin: auto;
}

body > h1, h1.title {
  @include font-family-list($heading-font, $backup-font);
  text-align: center;
  font-size: 240%;
  font-weight: $heading-weight;
  color: $highlight-fg;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
  margin: 2em 1em 1.5em;
  padding: 0;
}

div.body > h1 {
  @include font-family-list($body-font, $backup-font);
  text-align: left;
  font-size: 1.2em;
  font-weight: $body-bold-weight;
  color: $body-em;
  margin: 0;
  padding: 0;
  width: 90%;
  border-bottom: 1px dotted $link-fg;
}

.byline {
  @include font-family-list($body-font, $backup-font);
  font-weight: $body-weight;
  font-variant: small-caps;
  font-size: 40%;
  margin: 0;
  padding: 0.5ex 0 0;
  line-height: 1;
  @if $shadow {
    text-shadow: 0 1px 1px black;
  } @else {
    text-shadow: none;
  }
  color: $highlight-fg;
}

#logo {
  z-index: 999;
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 3px;
  border: 0;
  width: 120px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

div.fixed-top {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

div.related {
  background-color: $menu-bg;
  color: $menu-fg;
  margin: 0;
  padding: 0.2em;
  clear: both;
  z-index: 998;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

div.related li.breadcrumb-history a {
  color: $menu-dim-fg;
}

div.related li.breadcrumb-history::after {
  content: " \00bb";
}

div.related li.breadcrumb-current {
  font-weight: $body-bold-weight;
}

div.related h3 {
  display: none;
}

div.related ul {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

div.related li {
  display: inline;
}

div.related ul.right {
  float: right;
}

div.related a {
  color: $menu-fg;
}

div.section {
  background-color: $section-bg;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 1em 80px 2em 0;
  padding: 0 0 1em 0;
  max-width: 50em;
  min-width: 25em;
}

div.document > div.section {
  margin: 2em 2em;
}

div.section div.article-summary {
  border-bottom: 1px solid $doc-bg;
  font-style: italic;
  line-height: 1.4;
  color: $link-fg;
  margin: 0;
  padding: 0.5em 1em 0.5em;
}

div.section > div.toc {
  font-size: 80%;
  padding: 0.5em;
  margin: 1em 2.2em;
  border: 1px dotted $link-fg;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  width: max-content;
}

div.section > div.toc > span.toctitle {
  font-weight: $body-bold-weight;
}

div.section div.article-summary p {
  margin: 0;
  padding: 0;
}

div.section img.article-image {
  float: right;
  border: 1px solid $section-bg;
  border-radius: 50%;
  margin: 8px -80px 8px 8px;
  height: 320px;
  width: 320px;
  -webkit-shape-outside: circle(165px);
  shape-outside: circle(165px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

div.section img.article-image-small {
  float: right;
  width: 50%;
  max-width: 120px;
  margin: -30px -30px 8px 8px;
  border: 1px solid $section-bg;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -webkit-shape-outside: circle();
  shape-outside: circle(65px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

div.section h1 {
  @include font-family-list($heading-font, $backup-font);
  color: $highlight-fg;
  text-align: left;
  font-size: 200%;
  font-weight: $heading-weight;
  border-bottom: 1px solid $doc-bg;
  padding: 0.2em;
  margin: 0;
  line-height: 1.1;
}

div.section h2, div.section h3 {
  @include font-family-list($heading-font, $backup-font);
  color: $highlight-fg;
  text-align: left;
  font-weight: $heading-weight;
  border-bottom: 1px dotted $highlight-fg;
  padding: 0.1em;
  line-height: 1em;
}

div.section h2 {
  font-size: 160%;
  margin: 1.5em 0.3em 0;
}

div.section h3 {
  font-size: 120%;
  margin: 1.5em 0.5em 0;
}

div.section div.section-foot {
  margin: 0 0 -0.5em;
  padding: 0.5em 1em 0;
  border-top: 1px solid $doc-bg;
  line-height: 1.2;
}

div.section div.section-head {
  margin: 0;
  padding: 0.5em 1em 0.5em;
  border-bottom: 1px solid $doc-bg;
  line-height: 1.2;
}

.small {
  font-size: 80%;
}

div.section p {
  margin: 1em 0.8em;
  padding: 0 0.5em;
}

tt, code {
  @include font-family-list($monospace-font, $backup-monospace-font);
  font-weight: $monospace-weight;
  font-size: 80%; // Reduce monospace font size in inline text.
  margin-left: 0.2em;
  margin-right: 0.2em;
  color: $highlight-fg;
}

div.section blockquote {
  font-style: italic;
  font-size: 110%;
  margin: 1.5em 3em 1em;
  padding: 0.1em 1em 0.5em;
  position: relative;
  color: $link-fg;
}

div.section blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 400%;
  font-weight: $body-bold-weight;
  position: absolute;
  left: -5px;
  top: 30px;
  line-height: 0;
  color: $link-fg;
}

div.section blockquote:after {
  display: block;
  padding-left: 10px;
  content: "\201D";
  font-size: 400%;
  font-weight: $body-bold-weight;
  position: absolute;
  right: 10px;
  bottom: 10px;
  line-height: 0;
  color: $link-fg;
}

div.section blockquote strong {
  font-style: italic;
  color: $link-fg;
}

div.section blockquote em {
  font-style: normal;
}

pre {
  @include font-family-list($monospace-font, $backup-monospace-font);
  font-weight: $monospace-weight;
  white-space: pre;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 80%;
}

div.section pre {
  margin: 0.5em 2em;
  padding: 0 0.5em;
  color: $body-em;
  white-space: pre;
  text-shadow: none;
  border-left: 1px dotted $link-fg;
  font-size: 80%;
}

div.section table {
  margin: 0.5em auto;
  padding: 0 0.5em;
  border-collapse: collapse;
  max-width: 90%;
}

div.section table th {
  font-weight: $body-bold-weight;
  color: $body-em;
  border: 0;
  background-color: $doc-bg;
  margin-bottom: 1em;
  padding: 0.1em 1em;
  text-align: left;
  vertical-align: top;
}

div.section table tr th:first-child {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

div.section table tr th:last-child {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

div.section table td {
  border-bottom: 1px dotted $link-fg;
  padding: 0.1em 1em;
  vertical-align: top;
}

div.sphinxsidebarsection {
  display: block;
  padding: 0;
  margin: 0;
}

div.sphinxsidebar, div.sphinxsidebar a {
  color: $body-em;
}

div.section ul, div.sphinxsidebar ul {
  list-style: none;
  margin: 0.2em 0;
  padding-left: 1.5em;
  text-indent: -1em;
}

div.sphinxsidebar ul > li:before {
  content: "\2023 \2002";
}

div.sphinxsidebar p.topless {
  margin-left: 0;
  padding-left: 1em;
}

div.section ol {
  counter-reset: li;
  list-style: none;
  margin-left: 0;
  padding-left: 2em;
  text-indent: -1.4em;
}

div.section div.border-under {
  border-bottom: 1px solid $doc-bg;
}

div.section div.border-over {
  border-top: 1px solid $doc-bg;
}

div.section div.parts {
  margin: 0;
  color: $body-em;
  font-size: 90%;
  line-height: 1.2;
  padding: 0.5em 1em 0.5em;
}

div.section div.parts p {
  margin: 0;
  padding: 0;
}

div.section div.parts ol {
  padding-left: 4em;
}

div.section li {
  margin: 0.1em 0.1em 0.1em 1em;
}

div.section ul > li:before {
  content: "\2023 \2002";
  color: $body-em;
}

div.section ul > li li:before {
  content: "\2043 \2002";
  color: $body-em;
}

div.section ol > li:before {
  content: counter(li) ".\2002";
  counter-increment: li;
  color: $body-em;
}

div.section div.parts ul > li:before {
  content: "\2610 \2002";
  color: $body-em;
  float: left;
  margin-right: 1em;
  min-width: 1em;
  text-align: center;
}

div.section div.parts ul > li.ticked:before {
  content: "\2611 \2002";
  color: $body-em;
  float: left;
  margin-right: 1em;
  min-width: 1em;
  text-align: center;
}

div.section div.parts ul > li.blank:before {
  content: "\2002 \2002";
  color: $body-em;
  float: left;
  margin-right: 1em;
  min-width: 1em;
  text-align: center;
}

div.section li p {
  margin: 0;
  padding: 0;
}

div.section dl {
  margin: 0.2em 0;
  padding-left: 1.5em;
}

div.section dt {
  margin: 0.1em 0.1em 0.1em 1em;
  font-weight: $body-bold-weight;
  text-indent: -1em;
}

div.section dt tt, div.section dt code {
  font-weight: bold;
}

div.section dl > dt:before {
  content: "\2023 \2002";
  color: $body-em;
  font-weight: $body-weight;
}

div.section dd {
  margin: 0 0.1em 0 1.5em;
  padding: 0.1em 0.5em 0.3em;
  border-left: 1px dotted $link-fg;
}

div.section dd p {
  margin: 0.5em 0.1em 0.5em 0;
  padding: 0;
}

div.section dd ul {
  padding-left: 1em;
  margin: 0.5em 0.1em 0.5em 0;
}

div.section dd ol {
  padding-left: 1.5em;
  margin: 0.5em 0.1em 0.5em 0;
}

div.section dd li {
  margin: 0.1em;
}

div.section div.right, div.section div.left {
  margin: 0;
  padding: 0;
}

div.tweetbutton {
  max-width: 5em;
  max-height: 2em;
}

a {
  color: $link-fg;
  text-decoration: none;
}

div.section a {
  color: $link-fg;
  text-decoration: underline;
}

div.section h2 a, div.section h3 a, div.section h4 a,
div.section h5 a, div.section h6 a {
  color: $highlight-fg;
  text-decoration: none;
}

div.section h1 a {
  color: $highlight-fg;
  text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: $body-fg;
}

div.section a.footnote-ref {
  text-decoration: none;
}

body > h1 a, h1.title a {
  color: $highlight-fg;
}

a:hover {
  text-shadow: 0 0 8px $link-fg;
}

a.headerlink {
  color: $link-fg;
  text-shadow: none;
  visibility: hidden;
}

a.headerlink:hover {
  color: $highlight-fg;
  text-shadow: 0 0 8px $highlight-fg;
}

h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink,
h4:hover > a.headerlink, h5:hover > a.headerlink, h6:hover > a.headerlink,
dt:hover > a.headerlink {
  visibility: visible;
}

div.footer {
  margin: 0.5em;
  font-size: 80%;
  text-align: right;
}

div.right {
  float: right;
}

div.left {
  float: left;
}

div.left-icon {
  float: left;
  font-size: 180%;
  margin: -0.2em 0.5em 0 0;
  padding: 0;
  line-height: 1;
}

div.documentwrapper {
  background-color: $doc-bg;
}

div.bodywrapper {
  margin: 0 0 0 10em;
}

div.body {
  padding: 0 1em;
}

div.sphinxsidebar {
  float: left;
  width: 10em;
  padding: 10px;
}

em {
  font-weight: $body-weight;
  font-style: italic;
}

em.property {
  margin: 0 0.25em;
}

strong {
  font-weight: $body-bold-weight;
  font-style: normal;
  color: $body-em;
}

big {
  font-size: 120%;
  margin: 0 0.25em;
}

.viewcode-link {
  margin: 0 0.5em;
  font-variant: small-caps;
  vertical-align: text-top;
}

div.section table.codehilitetable {
  margin: 0.5em 1em;
  border: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

div.section table.codehilitetable td {
  padding: 0;
  border: 0;
}

div.section table.codehilitetable div.linenodiv {
  margin: 0;
  padding: 0;
  border-right: 1px dotted $link-fg;
}

div.section table.codehilitetable div.linenodiv pre {
  color: $link-fg;
  min-width: 2em;
  text-align: right;
}

div.section table.codehilitetable pre {
  @include font-family-list($monospace-font, $backup-monospace-font);
  font-weight: $monospace-weight;
  border: 0;
  margin: 0;
  padding: 0.5em; 
  white-space: pre;
  line-height: 1.25;
}

div.section pre code {
  font-size: 100%;
  margin: 0;
}

div.codehilite {
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

div.section > div.codehilite {
  overflow-x: auto;
  overflow-y: hidden;
}

hr {
  width: 80%;
  height: 0;
  border: 0;
  border-top: 1px solid $subsection-bg;
}

div.section hr {
  width: 100%;
  border-top: 1px solid $doc-bg;
}

div.section img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.footnote {
  font-size: 80%;
  line-height: 1.5;
}

div.footnote > ol {
  counter-reset: li;
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: -1.8em;
}

div.footnote > ol > li {
  margin: 1em 3.6em;
}

div.footnote p {
  display: inline;
}

#footnote_box {
  background-color: $subsection-bg;
  border: 1px solid $doc-bg;
  padding: 0 1em;
  margin: 1em;
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
  box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

p.paginator {
  width: 90%;
  text-align: center;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
}

sub {
  bottom: 1ex;
}

sup {
  top: -0.8ex;
}

.badge {
  color: $link-fg;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border: 1px dotted $link-fg;
  padding: 0 0.5em 0;
  margin: 0;
  display: inline-block;
  text-indent: 0;
  font-size: 90%;
  font-weight: $body-weight;
}

div.section a.badge {
  text-decoration: none;
}

div.section a.badge:hover {
  background-color: $doc-bg;
  border: 1px solid $link-fg;
  text-shadow: none;
}

div.body > div.toc {
  padding: 0.5em;
  margin: 1em 0 2em 0;
  border: 1px dotted $link-fg;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  width: 90%;
}

div.body > div.toc span.toctitle {
  font-weight: $body-bold-weight;
  color: $body-em;
}

div.body > div.toc ul a {
  text-decoration: underline;
}

div.body > div.toc ul {
  margin: 0;
  padding: 0.5em 3em;
  list-style: none;
  text-indent: -1em;
}

div.body > div.toc ul > li:before {
  content: "\2023 \2002";
}

ul.multi-column-list {
  column-count: 4;
}

@import "jquery.markdownFootnotes";
@import "base-shared";

