// Note: I've just begun to use sass for the colours, I'm sure there's more
//       refactoring that could happen when I get chance.

// Define main fonts.
$body-font: sans-serif !default;
$body-weight: normal !default;
$body-bold-weight: bold !default;
$heading-font: sans-serif !default;
$heading-weight: normal !default;
$monospace-font: monospace !default;
$monospace-weight: normal !default;
// Define backups.
$backup-font: sans-serif !default;
$backup-monospace-font: monospace !default;

@mixin font-family-list($main, $backup) {
  @if $main == $backup {
    font-family: $main;
  } @else {
    font-family: $main, $backup;
  }
}

body {
  @include font-family-list($body-font, $backup-font);
  font-weight: $body-weight;
  padding: 0;
  margin: 0;
  color: black;
  text-align: center;
}

header, section, footer,
aside, nav, article, figure {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $body-bold-weight;
}

header {
  margin: 0;
  padding: 0;
}

nav {
  display: none;
}

body > h1, h1.title {
  @include font-family-list($heading-font, $backup-font);
  font-size: 300%;
  font-weight: $heading-weight;
  margin: 1rem 0 0 0;
  padding: 0;
}

div.body > div.toc {
  display: none;
}

.byline {
  @include font-family-list($body-font, $backup-font);
  font-weight: $body-weight;
  margin: 0;
  padding: 0.5ex 0 0;
  line-height: 1;
  font-size: 40%;
  font-variant: small-caps;
}

div.body > h1 {
  @include font-family-list($body-font, $backup-font);
  text-align: left;
  font-size: 1.2rem;
  font-weight: $body-bold-weight;
  color: #444444;
  margin: 0;
  padding: 0;
  width: 90%;
  border-bottom: 1px dotted #888888;
}

div.related {
  display: none
}

div.section {
  margin: 2rem 0;
  padding: 0 0 1rem;
  display: block;
  text-align: left;
}

div.document > div.section {
  margin: 2rem 2rem;
}

div.section div.article-summary {
  border-bottom: 1px dotted #888888;
  font-size: 90%;
  font-style: italic;
  margin: 0;
  padding: 0.5rem 1rem 0.5rem;
  line-height: 1.4;
}

div.section div.article-summary p {
  margin: 0;
  padding: 0;
}

div.section img.article-image, div.section img.article-image-small {
  display: none;
}

div.section > div.toc {
  font-size: 80%;
  padding: 0.5rem;
  margin-left: 2.2rem;
  margin-top: 1rem;
  border-left: 1px dotted #888888;
}

div.section > div.toc > ul {
  display: block !important;
  width: max-content;
}

div.section > div.toc > span.toctitle {
  font-weight: $body-bold-weight;
}

div.section h1 {
  @include font-family-list($heading-font, $backup-font);
  text-align: left;
  font-size: 150%;
  font-weight: $heading-weight;
  border-bottom: 1px dotted #888888;
  padding: 0.5rem;
  margin: 0;
  line-height: 1.1;
}

div.section h2, div.section h3, div.section h4 {
  @include font-family-list($heading-font, $backup-font);
  text-align: left;
  font-weight: $heading-weight;
  padding: 0.4rem 0.2rem;
  line-height: 1rem;
}

div.section h2, div.section h3 {
  border-bottom: 1px dotted #888888;
}

div.section h2 {
  font-size: 140%;
  margin: 1.5rem 0.3rem 0;
}

div.section h3 {
  font-size: 110%;
  margin: 1.5rem 0.5rem 0;
}

div.section h4 {
  font-size: 100%;
  margin: 1.5rem 0.8rem 0;
}

div.section div.section-foot {
  margin: 0 0 -0.5rem;
  padding: 0.5rem 1rem 0;
  border-top: 1px dotted #888888;
  line-height: 1.2;
}

div.section div.section-head {
  margin: 0;
  padding: 0.5rem 1rem 0.5rem;
  border-bottom: 1px dotted #888888;
  line-height: 1.2;
}

#hyvor-talk-view {
  display: none;
}

.small {
  font-size: 80%;
}

div.section p {
  margin: 1rem 0.8rem;
  padding: 0 0.5rem;
}

div.section dd p {
  margin: 0 0.1rem 0.1rem 0;
  padding: 0;
}

div.section dd li {
  margin: 0.1rem;
}

tt, code {
  @include font-family-list($monospace-font, $backup-monospace-font);
  font-weight: $monospace-weight;
  font-size: 80%; // Reduce monospace font size in inline text.
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  color: #808080;
}

div.section blockquote {
  font-style: italic;
  font-size: 110%;
  color: #808080;
  margin: 1.5rem 3rem 1rem;
  padding: 0.1rem 1rem 0.5rem;
  border: 0;
  border-radius: 0.5rem;
  position: relative;
  width: fit-content;
}

div.section blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 400%;
  position: absolute;
  left: -5px;
  top: 30px;
  line-height: 0;
  color: #999999;
}

div.section blockquote:after {
  display: block;
  padding-left: 10px;
  content: "\201D";
  font-size: 400%;
  position: absolute;
  right: 10px;
  bottom: 0;
  line-height: 0;
  color: #808080;
}

div.section blockquote strong {
  font-style: italic;
}

div.section blockquote em {
  font-style: normal;
}

pre {
  @include font-family-list($monospace-font, $backup-monospace-font);
  font-weight: $monospace-weight;
  white-space: pre-wrap;
  font-size: 80%;
}

div.section pre {
  margin: 0.5rem 3rem;
  padding: 0.5rem;
  color: #808080;
  white-space: pre-wrap;
  text-shadow: none;
  border-left: 1px dotted #888888;
  font-size: 80%;
}

div.section pre code {
  margin: 0;
}

div.section table {
  margin: 0.5rem auto;
  padding: 0 0.5rem;
  border-collapse: collapse;
  max-width: 90%;
}

div.section table th {
  font-weight: $body-bold-weight;
  color: black;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  margin-bottom: 1rem;
  padding: 0.1rem 1rem;
  text-align: left;
  vertical-align: top;
}

div.section table tr th:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

div.section table tr th:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

div.section table td {
  border-bottom: 1px solid #888888;
  padding: 0.1rem 1rem;
  vertical-align: top;
}

div.section ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1.5rem;
  text-indent: -1rem;
}

div.section ol {
  counter-reset: li;
  list-style: none;
  margin-left: 0;
  padding-left: 2rem;
  text-indent: -1.4rem;
}

div.section div.border-under {
  border-bottom: 1px dotted #888888;
}

div.section div.border-over {
  border-top: 1px dotted #888888;
}

div.section div.parts {
  font-size: 90%;
  margin: 0;
  line-height: 1.2;
  padding: 1.5rem;
}

div.section div.parts p {
  margin: 0;
  padding: 0;
}

div.section div.parts ul {
  display: none;
}

div.tweetbutton {
  display: none;
}

div.section li {
  margin: 0.1rem 0.1rem 0.1rem 1rem;
}

div.section ul > li:before {
  content: "\2023 \2002";
}

div.section ul > li li:before {
  content: "\2043 \2002";
}

div.section ol > li:before {
  content: counter(li) ".\2002";
  counter-increment: li;
  font-style: italic;
}

div.section ol > li > ol > li:before {
  content: counter(li, lower-alpha) ".\2002";
  counter-increment: li;
  font-style: italic;
}

div.section ol > li > ol > li li:before {
  content: counter(li, lower-roman) ".\2002";
  counter-increment: li;
  font-style: italic;
}

div.section li p {
  margin: 0;
  padding: 0;
}

div.section dl {
  margin: 0.2rem 0;
  padding-left: 1.5rem;
}

div.section dt {
  margin: 0.1rem 0.1rem 0.1rem 1rem;
  font-weight: $body-bold-weight;
  text-indent: -1rem;
}

div.section dt tt, div.section dt code {
  font-weight: bold;
}

div.section dl > dt:before {
  content: "\2023 \2002";
  font-weight: $body-weight;
}

div.section dd {
  margin: 0 0.1rem 0 1.5rem;
  padding: 0.1rem 0.5rem 0.3rem;
  border-left: 1px dotted #888888;
}

div.section dd p {
  margin: 0.5rem 0.1rem 0.5rem 0;
  padding: 0;
}

div.section dd ul {
  padding-left: 1rem;
  margin: 0.5rem 0.1rem 0.5rem 0;
}

div.section dd ol {
  padding-left: 1.5rem;
  margin: 0.5rem 0.1rem 0.5rem 0;
}

div.section dd li {
  margin: 0.1rem;
}

div.section div.right, div.section div.left {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

div.section a {
  text-decoration: none;
}

div.section h2 a, div.section h3 a, div.section h4 a,
div.section h5 a, div.section h6 a {
  text-decoration: none;
}

div.section h1 a {
  text-decoration: none;
}

div.section a.footnote-ref {
  text-decoration: none;
}

a.headerlink {
  text-shadow: none;
  visibility: hidden;
}

div.footer {
  margin: 0.5rem;
  font-size: 80%;
  text-align: right;
}

div.right {
  float: right;
}

div.left {
  float: left;
}

div.left-icon {
  float: left;
  font-size: 180%;
  margin: -0.2rem 0.5rem 0 0;
  padding: 0;
  line-height: 1;
}

div.bodywrapper {
  margin: 0;
}

div.body {
  padding: 0 0.5rem;
  text-align: center;
}

div.sphinxsidebar {
  display: none;
}

table.indextable {
  margin-bottom: 1rem;
}

table.indextable td {
  margin: 0;
  padding: 0.2rem 2rem 0.2rem 0.5rem;
}

em {
  font-style: italic;
}

em.property {
  margin: 0 0.25rem;
}

strong {
  font-weight: $body-bold-weight;
  font-style: normal;
}

big {
  font-size: 120%;
  margin: 0 0.25rem;
}

.viewcode-link {
  margin: 0 0.5rem;
  font-variant: small-caps;
  vertical-align: text-top;
}

div.section table.codehilitetable {
  margin: 0.5rem 2rem;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow: visible;
  max-width: 100%;
}

div.section table.codehilitetable td {
  padding: 0;
  border: 0;
}

div.section table.codehilitetable div.linenodiv {
  margin: 0;
  padding: 0;
  border-right: 1px dotted #888888;
  min-width: 2rem;
  text-align: right;
}

div.section table.codehilitetable pre {
  @include font-family-list($monospace-font, $backup-monospace-font);
  font-weight: $monospace-weight;
  border: 0;
  margin: 0;
  padding: 0.5rem; 
  white-space: pre-wrap;
  line-height: 1.4;
}

div.codehilite {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

div.section > div.codehilite {
  overflow: visible;
}

hr {
  width: 80%;
  height: 0;
  border: 0;
  border-top: 1px dotted #888888;
}

div.section hr {
  width: 100%;
  border-top: 1px dotted #888888;
}

div.section img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.footnote {
  font-size: 80%;
  line-height: 1.5;
}

a.footnote-backref {
  display: none;
}

p.paginator {
  display: none;
}

div.footnote > ol {
  counter-reset: li;
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: -1.8rem;
}

div.footnote > ol > li {
  margin: 1rem 3.6rem;
}

div.footnote p {
  display: inline;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
}

sub {
  bottom: 1ex;
}

sup {
  top: -0.8ex;
}

div.comments {
  display: none;
}

.badge {
  border: 1px dotted #888888;
  border-radius: 2rem;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  padding: 0 0.5rem 0;
  margin: 0;
  text-indent: 0;
  font-size: 90%;
  font-weight: $body-weight;
}

div.section a.badge {
  text-decoration: none;
}

ul.multi-column-list {
  column-count: 4;
}

@import "jquery.markdownFootnotes";
@import "base-shared";

