// Note: I've just begun to use sass for the colours, I'm sure there's more
//       refactoring that could happen when I get chance.


// Define default grey colour scheme, unless already defined.
$doc-bg: #333333 !default;
$section-bg: #444444 !default;
$subsection-bg: #555555 !default;
$menu-bg: #555555 !default;
$menu-fg: #eeeeee !default;
$link-fg: #bbbbbb !default;
$highlight-fg: #cccccc !default;
$body-fg: #eeeeee !default;
$body-em: #ffffff !default;
// Define main fonts, these may well already be defined.
$body-font: sans-serif !default;
$heading-font: sans-serif !default;
$heading-weight: normal !default;
$monospace-font: monospace !default;
// Define backups, these are unlikely to be defined but may be.
$backup-font: sans-serif !default;
$backup-monospace-font: monospace !default;
$body-bold-weight: bold !default;

// Default to having text shadow
$shadow: true !default;

@mixin font-family-list($main, $backup) {
  @if $main == $backup {
    font-family: $main;
  } @else {
    font-family: $main, $backup;
  }
}


body {
  @include font-family-list($body-font, $backup-font);
  background-color: $doc-bg;
  padding: 0;
  margin: 0;
  color: $body-fg;
  @if $shadow {
    text-shadow: 0 1px 1px black;
  } @else {
    text-shadow: none;
  }
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 110%;
  line-height: 1.5;
}

.sitemenu-container {
  positive: relative;
  display: inline-block;
}

.sitemenu-button {
  background-color: #073642;
  color: #839496;
  padding: 1px 12px;
  margin: 1px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.sitemenu-content {
  display: none;
  padding: 1em;
  position: absolute;
  background-color: #073642;
  color: #839496;
  z-index: 1;
  right: 10px;
}

.sitemenu-content a {
  display: block;
  padding: 0.2em 0.5em;
  color: #839496;
}

.show {
  display: block;
}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $body-bold-weight;
  line-height: 1.2;
}

header {
  margin: 0;
  padding: 0;
}

nav {
  margin: 1em 0 0;
  padding: 0;
  text-align: center;
  color: $body-em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

nav li {
  display: inline;
  margin: 0 1em;
  padding: 1em 0.5em;
  padding: 0.5em;
  background-color: $section-bg;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

nav a {
  display: inline-block;
  color: $highlight-fg;
}

nav li.active {
  background-color: $highlight-fg;
  box-shadow: none;
}

nav li.active a {
  color: $section-bg;
}

div.document {
  max-width: max-content;
  margin: auto;
}

body > h1, h1.title {
  @include font-family-list($heading-font, $backup-font);
  text-align: center;
  font-weight: $heading-weight;
  color: $highlight-fg;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 0;
}

@media screen and (min-width: 601px) {
  body > h1, h1.title {
    font-size: 240%;
    margin: 2em 0 0 0;
  }
}

@media screen and (max-width: 600px) {
  body > h1, h1.title {
    font-size: 140%;
    margin: 3em 0 0 0;
  }
}

.byline {
  @include font-family-list($body-font, $backup-font);
  margin: 0;
  padding: 0.5ex 0 0;
  line-height: 1;
  font-size: 40%;
  font-weight: normal;
  font-variant: small-caps;
  @if $shadow {
    text-shadow: 0 1px 1px black;
  } @else {
    text-shadow: none;
  }
  color: $highlight-fg;
}

#logo {
  z-index: 999;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 60px;
  border: 0;
  margin: 1px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

div.fixed-top {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

div.related {
  background-color: $menu-bg;
  color: $menu-fg;
  margin: 0;
  padding: 0.2em;
  clear: both;
  font-size: 0.8em;
  z-index: 998;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

div.related li.breadcrumb-history {
  display: none;
}

div.related li.breadcrumb-current {
  font-weight: bold;
}

div.related h3 {
  display: none;
}

div.related ul {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

div.related li {
  display: inline;
}

div.related ul.right {
  float: right;
}

div.related a {
  color: $menu-fg;
}

div.section {
  background-color: $section-bg;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  margin: 2em auto;
  padding: 0 0 1em 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

div.document > div.section {
  margin: 2em 2em;
}

div.section div.article-summary {
  border-bottom: 1px solid $doc-bg;
  font-size: 90%;
  font-style: italic;
  line-height: 1.4;
  color: $link-fg;
  margin: 0;
  padding: 0.5em 1em 0.5em;
}

div.section > div.toc {
  font-size: 80%;
  padding: 0.5em;
  margin-left: 2.2em;
  margin-top: 1em;
  border-left: 1px solid $link-fg;
  width: max-content;
}

div.section > div.toc > span.toctitle {
  font-weight: $body-bold-weight;
}

div.section div.article-summary p {
  margin: 0;
  padding: 0;
}

div.section img.article-image {
  float: right;
  width: 50%;
  max-width: 320px;
  margin: 8px;
  border: 1px solid $body-fg;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -webkit-shape-outside: circle();
  shape-outside: circle();
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

div.section h1 {
  @include font-family-list($heading-font, $backup-font);
  color: $highlight-fg;
  text-align: left;
  font-weight: $heading-weight;
  border-bottom: 1px solid $doc-bg;
  padding: 0.2em;
  margin: 0;
  line-height: 1.1;
}

@media screen and (min-width: 601px) {
  div.section h1 {
    font-size: 150%;
  }

  div.section h2 {
    font-size: 140%;
  }

  div.section h3 {
    font-size: 110%;
  }
}

@media screen and (max-width: 600px) {
  div.section h1 {
    font-size: 130%;
  }

  div.section h2 {
    font-size: 120%;
  }

  div.section h3 {
    font-size: 110%;
  }
}

div.section h2, div.section h3 {
  @include font-family-list($heading-font, $backup-font);
  color: $highlight-fg;
  text-align: left;
  font-weight: $heading-weight;
  padding: 0.2em;
  line-height: 1em;
}

div.section h2 {
  margin: 1.5em 0.3em 0;
}

div.section h3 {
  margin: 1.5em 0.5em -0.2em;
}

div.section div.section-foot {
  margin: 0 0 -0.5em;
  padding: 0.5em 1em 0;
  border-top: 1px solid $doc-bg;
  line-height: 1.2;
}

div.section div.section-head {
  margin: 1em 0 -0.5em;
  padding: 0.5em 1em 0;
  border-bottom: 1px solid $doc-bg;
  line-height: 1.2;
}

#hyvor-talk-view {
  min-height: 20em;
}

.small {
  font-size: 80%;
}

div.section p {
  margin: 0.8em;
  padding: 0 0.5em;
}

tt, code {
  @include font-family-list($monospace-font, $backup-monospace-font);
  font-size: 90%; // Reduce monospace font size in inline text.
  margin-left: 0.2em;
  margin-right: 0.2em;
  color: $link-fg;
}

div.section blockquote {
  font-style: italic;
  padding: 0.1em 1em 0.5em;
  background-color: $subsection-bg;
  color: $body-em;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  position: relative;
}

@media screen and (min-width: 601px) {
  div.section blockquote {
    font-size: 110%;
    margin: 1.5em 3em 1em;
  }
}

@media screen and (max-width: 600px) {
  div.section blockquote {
    margin: 1.5em 2em 1em;
  }
}

div.section blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 400%;
  position: absolute;
  left: -5px;
  top: 30px;
  line-height: 0;
  color: $section-bg;;
}

div.section blockquote:after {
  display: block;
  padding-left: 10px;
  content: "\201D";
  font-size: 400%;
  position: absolute;
  right: 10px;
  bottom: 0;
  line-height: 0;
  color: $section-bg;;
}

pre {
  @include font-family-list($monospace-font, $backup-monospace-font);
  white-space: pre;
}

div.section pre {
  padding: 0 0.5em;
  color: $body-em;
  white-space: pre;
  text-shadow: none;
  border-left: 1px solid $link-fg;
}

@media screen and (min-width: 601px) {
  pre, section pre {
    font-size: 80%;
  }

  div.section pre {
    margin: 0.5em 2em;
  }
}

@media screen and (max-width: 600px) {
  pre, section pre {
    font-size: 75%; // Reduce pre font size more on small viewports.
  }

  div.section pre {
    margin: 0.5em 1.5em;
  }
}

div.sphinxsidebarsection {
  display: inline-block;
  padding: 0;
  margin: 1em 0 0 0;
  min-width: 25%;
}

div.sphinxsidebar, div.sphinxsidebar a {
  color: $body-em;
}

div.section ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1.5em;
  text-indent: -1em;
}

div.sphinxsidebar ul {
  list-style: none;
  display: inline-block;
  padding: 0 0 0 0.5em;
  margin: 0;
  vertical-align: middle;
}

div.sphinxsidebar ul > li {
  display: list-item;
  border-left: 1px solid $link-fg;
  padding-left: 0.5em;
  vertical-align: middle;
  text-align: left;
}

div.sphinxsidebar p.topless {
  margin-left: 0;
  padding-left: 1em;
}

div.sphinxsidebar h3 {
  display: inline-block;
  font-weight: $body-bold-weight;
  font-size: 1em;
  width: 2.5em;
  text-align: right;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

div.section ol {
  counter-reset: li;
  list-style: none;
  margin-left: 0;
  padding-left: 2em;
  text-indent: -1.4em;
}

div.section div.border-under {
  border-bottom: 1px solid $doc-bg;
}

div.section div.border-over {
  border-top: 1px solid $doc-bg;
}

div.section div.parts {
  margin: 0;
  color: $link-fg;
  line-height: 1.2;
}

div.section div.parts ol {
  padding-left: 5em;
}

div.section div.border-under ul {
  padding-bottom: 1em;
}

div.section li {
  margin: 0.1em 0.1em 0.1em 1em;
}

div.section ul > li:before {
  content: "\2023 \2002";
  color: $body-em;
}

div.section ol > li:before {
  content: counter(li) ".\2002";
  counter-increment: li;
  color: $body-em;
}

div.section div.parts ul > li:before {
  content: "\2610 \2002";
  color: $body-em;
  float: left;
  margin-right: 1em;
  min-width: 1em;
  text-align: center;
}

div.section div.parts ul > li.ticked:before {
  content: "\2611 \2002";
  color: $body-em;
  float: left;
  margin-right: 1em;
  min-width: 1em;
  text-align: center;
}

div.section li p {
  margin: 0;
  padding: 0;
}

div.section dl {
  margin: 1em 1.5em 0.5em;
  padding: 0;
}

div.section dt {
  display: inline-block;
  background-color: $subsection-bg;
  border-radius: 1em;
  margin: 1em 0 0;
  padding: 0.2em 1em;
  font-weight: $body-bold-weight;
  color: $body-em;
}

div.section dd {
  margin: 0;
  padding: 0 1.5em 0.2em;
}

div.section div.right, div.section div.left {
  margin: 0;
  padding: 0;
}

a {
  color: $link-fg;
  text-decoration: none;
}

div.section a {
  color: $link-fg;
  text-decoration: underline;
}

div.section h2 a, div.section h3 a, div.section h4 a,
div.section h5 a, div.section h6 a {
  color: $highlight-fg;
  text-decoration: none;
}

div.section h1 a {
  color: $highlight-fg;
  text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: $body-fg;
}

div.section a.footnote-ref {
  text-decoration: none;
}

body > h1 a, h1.title a {
  color: $highlight-fg;
}

a:hover {
  text-shadow: 0 0 8px $link-fg;
}

a.headerlink {
  color: $link-fg;
  text-shadow: none;
  visibility: hidden;
}

a.headerlink:hover {
  color: $highlight-fg;
  text-shadow: 0 0 8px $highlight-fg;
}

h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink,
h4:hover > a.headerlink, h5:hover > a.headerlink, h6:hover > a.headerlink,
dt:hover > a.headerlink {
  visibility: visible;
}

div.footer {
  margin: 0.5em;
  font-size: 80%;
  text-align: right;
}

div.right {
  float: right;
}

div.left {
  float: left;
}

div.documentwrapper {
  background-color: $doc-bg;
}

div.bodywrapper {
  margin: 0;
}

div.body {
  padding: 0 0.5em;
}

div.sphinxsidebar {
  padding: 1em 0.5em;
}

@media screen and (min-width: 451px) {
  div.sphinxsidebar {
    text-align: center;
    font-size: 80%;
  }
}

@media screen and (max-width: 450px) {
  div.sphinxsidebar {
    font-size: 70%;
  }
}

table.indextable {
  margin-bottom: 1em;
}

table.indextable td {
  margin: 0;
  padding: 0.2em 2em 0.2em 0.5em;
}

em {
  font-weight: normal;
  font-style: italic;
}

em.property {
  margin: 0 0.25em;
}

strong {
  font-weight: $body-bold-weight;
  font-style: normal;
  color: $body-em;
}

big {
  font-size: 120%;
  margin: 0 0.25em;
}

.viewcode-link {
  margin: 0 0.5em;
  font-variant: small-caps;
  vertical-align: text-top;
}

table.codehilitetable {
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

@media screen and (min-width: 601px) {
  table.codehilitetable {
    margin: 0.5em 2em;
  }
}

@media screen and (max-width: 600px) {
  table.codehilitetable {
    margin: 0.5em 1em;
  }
}

table.codehilitetable td {
  padding: 0;
}

table.codehilitetable div.linenodiv {
  margin: 0;
  padding: 0;
  border-right: 1px solid $link-fg;
}

table.codehilitetable div.linenodiv pre {
  color: $link-fg;
}

table.codehilitetable pre {
  @include font-family-list($monospace-font, $backup-monospace-font);
  border: 0;
  margin: 0;
  padding: 0.5em; 
  white-space: pre;
  line-height: 1.25;
}

div.codehilite {
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

div.section>div.codehilite {
  overflow-x: auto;
  overflow-y: hidden;
}

hr {
  width: 80%;
  height: 0;
  border: 0;
  border-top: 1px solid $subsection-bg;
}

div.section hr {
  width: 100%;
  border-top: 1px solid $doc-bg;
}

div.section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.footnote {
  font-size: 80%;
  line-height: 1.5;
}

div.footnote > ol {
  counter-reset: li;
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: -1.8em;
}

div.footnote > ol > li {
  margin: 1em 3.6em;
}

div.footnote p {
  display: inline;
}

#footnote_box {
  background-color: $subsection-bg;
  border: 1px solid $doc-bg;
  padding: 0 1em;
  margin: 1em;
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
  box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

sup, sub {
  vertical-align: baseline;
  position: relative;
}

sub {
  bottom: 1ex;
}

sup {
  top: -0.8ex;
}

@import "jquery.markdownFootnotes";
@import "base-shared";

