{% extends "base.html" %}
{% block breadcrumbs %}<li class="breadcrumb-current"><a href="{{ SITEURL }}/archives.html">Archives</a></li>{% endblock %}
{% block content %}
{% set ns = namespace(last_date=None, last_year=None, posts=0) %}
{% if YEAR_ARCHIVE_SAVE_AS %}
  {% set year_archive_strftime = YEAR_ARCHIVE_SAVE_AS|replace("{date:", "")|replace("}", "") %}
{% else %}
  {% set year_archive_strftime = None %}
{% endif %}
{% if MONTH_ARCHIVE_SAVE_AS %}
  {% set month_archive_strftime = MONTH_ARCHIVE_SAVE_AS|replace("{date:", "")|replace("}", "") %}
{% else %}
  {% set month_archive_strftime = None %}
{% endif %}

<div class="section">
<h1>Index</h1>
<p>
  The links below jump you to the section for that year, where you can jump direct to an article or click any year or month heading to see article summaries.
</p>
<ul class="multi-column-list">
{% for article in dates %}
  {% if ns.last_year is none or article.date.year != ns.last_year %}
  {% if ns.posts > 0 %}
  <li><a href="#archive{{ ns.last_year }}">{{ ns.last_year }}</a>&ensp;<span class="small"><div class="badge">{{ ns.posts }} post{% if ns.posts > 1 %}s{% endif %}</div></span></li>
  {% endif %}
  {% set ns.last_year = article.date.year %}
  {% set ns.posts = 0 %}
  {% endif %}
  {% set ns.posts = ns.posts + 1 %}
{% endfor %}
{% if ns.posts > 0 %}
  <li><a href="#archive{{ ns.last_year }}">{{ ns.last_year }}</a>&ensp;<span class="small"><div class="badge">({{ ns.posts }} post{% if ns.posts > 1 %}s{% endif %})</div></span></li>
{% endif %}
</ul>

{% macro yearlink(article) %}
</dl></div><div class="section" style="position: relative">
  <a id="archive{{ article.date.year }}" style="position:absolute; top:-50px;"></a><h1>
    {% if year_archive_strftime is none %}
    Archives for {{ article.date|strftime('%Y') }}
    {% else %}
    <a href="{{SITEURL}}/{{article.date|strftime(year_archive_strftime)}}">Archives for {{ article.date|strftime('%Y') }}</a>
    {% endif %}
  </h1><dl>
{% endmacro %}

{% macro articlelink(article) %}
    <dd><a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.locale_date }}: {{ article.summary|striptags|escape }}">{{ article.title }}</a>&ensp;<span class="small"><div class="badge">{{ article.date|strftime("%a %b %d") }}</div></span></dd>
{% endmacro %}

{% macro monthlink(article) %}
  <dt>
    {% if year_archive_strftime is none %}
    {{ article.date|strftime('%B') }}
    {% else %}
    <a href="{{ SITEURL }}/{{ article.date|strftime(month_archive_strftime) }}">{{ article.date|strftime('%B') }}</a>
    {% endif %}
  </dt>
{% endmacro %}

<dl>
{% for article in dates %}
  {% if ns.last_date is none or ns.last_date.year != article.date.year %}
    {{ yearlink(article) }}
    {{ monthlink(article) }}
  {% elif ns.last_date.month != article.date.month %}
    {{ monthlink(article) }}
  {% endif %}
  {{ articlelink(article) }}
  {% set ns.last_date = article.date %}
{% endfor %}
</dl>
</div>
{% endblock %}

