{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block breadcrumbs %}
  <li class="breadcrumb-history"><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
  <li class="breadcrumb-current"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
{% endblock %}
{% block content %}
<div class="section">
    <h1>
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ HEADING_PREFIX }} {{ article.title}}</a>
    </h1>
    {% if article.series %}
    <div class="parts border-under">
      {% include 'article_series.html' %}
    </div>
    {% endif %}
    <div class="article-summary">{{ article.summary }}</div>
    {% include 'article_img.html' %}
    {{ article.content }}
    {% if article.series %}
    <div class="parts border-over">
      {% include 'article_series.html' %}
    </div>
    {% endif %}
    <div class="section-foot small">
        {% include 'article_infos.html' %}
    </div>
</div>

{% if DISQUS_SITENAME %}
<div class="comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_identifier = "{{ article.url }}";
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
</div>
{% endif %}
{% endblock %}
