{% macro part_link(other_article) -%}
            <a href='{{ SITEURL }}/{{ other_article.url }}'>{{ other_article.title }}</a>&ensp;<span><div class="badge">{{ other_article.date|strftime("%a %-d %b, %Y") }}</div></span>
{%- endmacro %}
{% macro ordinal(articlenum) -%}
    {%- if articlenum|int % 100 > 3 and articlenum|int % 100 < 21 -%}{{ articlenum }}<sup>th</sup>
    {%- elif (articlenum|int % 10) == 1 -%}{{ articlenum }}<sup>st</sup>
    {%- elif (articlenum|int % 10) == 2 -%}{{ articlenum }}<sup>nd</sup>
    {%- elif (articlenum|int % 10) == 3 -%}{{ articlenum }}<sup>rd</sup>
    {%- else -%}{{ articlenum }}<sup>th</sup>{%- endif -%}
{%- endmacro %}
        <p>
          This is the <strong>{{ ordinal(article.series.index) }}</strong> of the
          <strong>{{ article.series.all|length }}</strong> articles that currently
          make up the <strong>&ldquo;{{ article.series.name }}&rdquo;</strong>
          series.
        </p>
        <ul>
        {% if article.series.all_previous|length > 5 %}
        <li class="ticked">{{ part_link(article.series.all_previous[0]) }}</li>
        <li class="ticked">{{ part_link(article.series.all_previous[1]) }}</li>
        <li class="blank"><em>… {{ article.series.all_previous|length - 4}} more articles…</em></li>
        <li class="ticked">{{ part_link(article.series.all_previous[-2]) }}</li>
        <li class="ticked">{{ part_link(article.series.all_previous[-1]) }}</li>
        {% else %}
        {% for part_article in article.series.all_previous %}
          <li class="ticked">{{ part_link(part_article) }}</li>
        {% endfor %}
        {% endif %}
        <li class="ticked">
          <strong>{{ article.title }}</strong>&ensp;<span><div class="badge">{{ article.date|strftime("%a %-d %b, %Y") }}</div></span>
        </li>
        {% if article.series.all_next|length > 5 %}
        <li>{{ part_link(article.series.all_next[0]) }}</li>
        <li>{{ part_link(article.series.all_next[1]) }}</li>
        <li class="blank"><em>… {{ article.series.all_next|length - 4}} more articles…</em></li>
        <li>{{ part_link(article.series.all_next[-2]) }}</li>
        <li>{{ part_link(article.series.all_next[-1]) }}</li>
        {% else %}
        {% for part_article in article.series.all_next %}
          <li>{{ part_link(part_article) }}</li>
        {% endfor %}
        {% endif %}
        </ul>
