        <p><strong>
          This is part {{ article.series.index }} of the
          &ldquo;{{ article.series.name }}&rdquo; series of posts:
        </strong></p>
        <ul>
        {% for part_article in article.series.all_previous %}
          <li class="ticked">
              <a href='{{ SITEURL }}/{{ part_article.url }}'>{{ part_article.title }}</a>
          </li>
        {% endfor %}
        <li class="ticked">
          <strong>{{ article.title }}</strong>
        </li>
        {% for part_article in article.series.all_next %}
          <li>
            <a href='{{ SITEURL }}/{{ part_article.url }}'>{{ part_article.title }}</a>
          </li>
        {% endfor %}
        </ul>
