{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% import "twitter.html" as twitter with context %}
{% block content %}
{% if articles %}
    {% for article in articles_page.object_list %}

        {# First item #}
        {% if not article_summary_only is defined %}
            <div class="section">
              <h1>
                {{ twitter.tweetbutton(article.url) }}
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmerk"
                        title="Permalink to {{ article.title|striptags }}">{{ HEADING_PREFIX }} {{ article.title }}</a>
              </h1>
              {% if article.series %}
                  <div class="parts">
                    <p><strong>
                      This is part {{ article.series.index }} of the
                      &ldquo;{{ article.series.name }}&rdquo;
                      {% if article.series.index > 1 %}
                        series which started with
                        <a href='{{ SITEURL }}/{{ article.series.all[0].url }}'>{{ article.series.all[0].title }}</a>.
                      {% else %}
                        series.
                      {% endif %}
                    </strong></p>
                  </div>
              {% endif %}
              <div class="article-summary">{{ article.summary }}</div>
              {{ article.content }}
              <div class="section-foot small">
                  {% include 'article_infos.html' %}
                  &ensp;|&ensp;
                  {% include 'comments.html' %}
              </div>
            </div>
        {% else %}
            <div class="section">
                <h1>
                  <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                           title="Permalink to {{ article.title|striptags }}">{{ HEADING_PREFIX }} {{ article.title }}</a></h1>
                </h1>
                {% if article.series %}
                    <div class="parts">
                      <p><strong>
                        This is part {{ article.series.index }} of the
                        &ldquo;{{ article.series.name }}&rdquo;
                        {% if article.series.index > 1 %}
                          series which started with
                          <a href='{{ SITEURL }}/{{ article.series.all[0].url }}'>{{ article.series.all[0].title }}</a>.
                        {% else %}
                          series.
                        {% endif %}
                      </strong></p>
                    </div>
                {% endif %}
                <div class="article-summary">{{ article.summary }}</div>
                <p><a class="readmore" href="{{ SITEURL }}/{{ article.url }}">Read post &rarr;</a></p>
                <div class="section-foot small">
                  {% include 'article_infos.html' %}
                  &ensp;|&ensp;
                  {% include 'comments.html' %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% if articles_page.has_previous() or articles_page.has_next() %}
        {% include 'pagination.html' %}
    {% endif %}
{% else %}
<h2>No Posts</h2>
{% endif %}
{% endblock content %}
