{% extends "base.html" %}
{% set ns = namespace(last_date=None) %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
    <div class="toc">
    <span class="toctitle">Articles on current page <span class="small">({{ articles_page.start_index() }}-{{ articles_page.end_index() }} of {{ articles_paginator.count }})</span></span>
    <div>
    <ul>
      {% for article in articles_page.object_list %}
      <li><a href="#{{ article.slug }}">{{ article.title }}</a>&ensp;<span class="small"><span class="badge">{{ article.date|strftime("%a %b %d %Y") }}</span></span></li>
      {% endfor %}
    </ul>
    {% if articles_page.has_previous() or articles_page.has_next() %}
    {% include 'pagination.html' %}
    {% endif %}
    </div></div>
    {% for article in articles_page.object_list %}
            {% if ns.last_date != (article.date.year, article.date.month) %}
            <h1>{{ article.date|strftime('%B %Y') }}</h1>
            {% set ns.last_date = (article.date.year, article.date.month) %}
            {% endif %}
            <div class="section" style="position: relative">
              {% if article_summary_only is defined %}
              {% include 'article_img.html' %}
              {% endif %}
              <a id="{{ article.slug }}" style="position:absolute; top:-50px;"></a>
              <h1>
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                        title="Permalink to {{ article.title|striptags }}">{{ HEADING_PREFIX }} {{ article.title }}</a>
              </h1>
              {% if not article_summary_only is defined %}
              <div class="section-head small">
                {% include 'article_infos.html' %}
                {% include 'comments.html' %}
              </div>
              {% endif %}
              {% if article.series %}
                  <div class="parts border-under">
                    <p><strong>
                      This is part {{ article.series.index }}
                      of the &ldquo;{{ article.series.name }}&rdquo;
                      {% if article.series.index > 1 %}
                        series which started with
                        <a href='{{ SITEURL }}/{{ article.series.all[0].url }}'>{{ article.series.all[0].title }}</a>.
                      {% else %}
                        series.
                      {% endif %}
                      {% if article.series.index > 2 %}
                        The previous article in the series was
                        <a href='{{ SITEURL }}/{{ article.series.all_previous[-1].url }}'>{{ article.series.all_previous[-1].title }}</a>.
                      {% endif %}
                    </strong></p>
                  </div>
              {% endif %}
              <div class="article-summary">{{ article.summary }}</div>
              {% if article_summary_only is defined %}
              <p><a class="readmore" href="{{ SITEURL }}/{{ article.url }}">Read article &rarr;</a></p>
              {% else %}
                {% include 'article_img.html' %}
                {{ article.content }}
              {% endif %}
              <div class="section-foot small">
                  {% include 'article_infos.html' %}
                  {% include 'img_credits.html' %}
                  {% include 'comments.html' %}
              </div>
            </div>
    {% endfor %}
    {% if articles_page.has_previous() or articles_page.has_next() %}
        {% include 'pagination.html' %}
    {% endif %}
{% else %}
<h2>No Posts</h2>
{% endif %}
{% endblock content %}
