{% set article_summary_only = True %}
{% extends "index.html" %}
{% block title %}{{ SITENAME|striptags }}: Posts tagged {{ tag|striptags }}{% endblock %}
{% if YEAR_ARCHIVE_SAVE_AS %}
  {% set year_archive_strftime = YEAR_ARCHIVE_SAVE_AS|replace("{date:", "")|replace("}", "") %}
{% else %}
  {% set year_archive_strftime = None %}
{% endif %}
{% if MONTH_ARCHIVE_SAVE_AS %}
  {% set month_archive_strftime = MONTH_ARCHIVE_SAVE_AS|replace("{date:", "")|replace("}", "") %}
{% else %}
  {% set month_archive_strftime = None %}
{% endif %}
{% block breadcrumbs %}
  <li class="breadcrumb-history"><a href="{{ SITEURL }}/archives.html">Archives</a></li>
  {% if dates[0].date.year == dates[-1].date.year %}
    {% if dates[0].date.month == dates[-1].date.month %}
    <li class="breadcrumb-history">
      <a href="{{ SITEURL }}/{{ dates[0].date|strftime(year_archive_strftime) }}">{{ dates[0].date.strftime('%Y') }}</a>
    </li><li class="breadcrumb-current">
      <a href="{{ SITEURL }}/{{ dates[0].date|strftime(month_archive_strftime) }}">{{ dates[0].date.strftime('%B') }}</a>
    </li>
    {% else %}
    <li class="breadcrumb-current">
      <a href="{{ SITEURL }}/{{ dates[0].date|strftime(year_archive_strftime) }}">{{ dates[0].date.strftime('%Y') }}</a>
    </li>
    {% endif %}
  {% endif %}
{% endblock %}

